#h1{
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  font-size: 60px;
}
#restart{
  margin: auto;
  margin-top: 20px;
}
.btn.btn-success.btn-lg.p1_score{
font-size: 50px;
}
.btn.btn-danger.btn-lg.p2_score{
font-size: 50px;
}
#table{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#game_message{
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}
td{
  border: 4px solid black;
  font-size: 60px;
  height: 100px;
  width: 100px;
  text-align: center;
}
